body {
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	font-family: ubuntu;
}
.page-left {
	width: 50%;
	float: left;
}
.page-right {
	width: 50%;
	float: left;
	color: rgba(255,255,255,0.95);
	font-size: 3em;
	background-color: rgba(35,140,173, 1);
	box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.35);
	word-wrap: break-word;
}
.page-right p {
	margin: 1.25em;
}
.page-right-btm {
	width: 50%;
	bottom: 0px;
	position: absolute;
	background: rgb(67,181,217);
	font-size: 0.35em;
	min-height: 20px;
}
.page-right-btm .instructions, .page-right-btm .response-entry {
	word-wrap: break-word;
}
.page-right-btm .response-entry input {
	font-family: ubuntu;
	color: #FFF;
	width: 100%;
	height: 40px;
	border: 0px;
	background: rgba(255,255,255,0.25);
	min-height:75px;
	padding:10px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 1em;
	float: left;
}
.page-right-btm .response-entry #send-box {
	width: 95px;
	height: 95px;
	background-color: rgba(35,140,173, 0.7);
	float: left;
	color: #FFF;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	font-size: 2em;
	line-height: 95px;
}
#send-box:hover {
	text-shadow: 0px 0px 15px #fff;
}
.page-right-btm .response-entry #send-box:hover {
	background-color: rgba(35,140,173, 0.47);
}
#container {
	width: 216px;
	height: 510px;
	margin: auto;

	border: 1px solid #4c4d4f;
	-moz-border-radius-topleft: 40px;
	border-top-left-radius: 40px;
	-moz-border-radius-topright: 40px;
	border-top-right-radius: 40px;
	-moz-border-radius-bottomright: 67px;
	border-bottom-right-radius: 67px;
	-moz-border-radius-bottomleft: 67px;
	border-bottom-left-radius: 67px;
	background: #042c54;

	-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
		 -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
					box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}
#nokia1280 {
		position: relative;

		width: 216px;
		height: 500px;
		margin-top: 1px;

		border: 1px solid #4c4d4f;
		-moz-border-radius-topleft: 48px;
		border-top-left-radius: 48px;
		-moz-border-radius-topright: 48px;
		border-top-right-radius: 48px;
		-moz-border-radius-bottomright: 60px;
		border-bottom-right-radius: 60px;
		-moz-border-radius-bottomleft: 60px;
		border-bottom-left-radius: 60px;
		background: #2b4865;
		background: -webkit-gradient(linear,left top,left bottom,from(#2b4865),to(#95c0ea));
		background: -moz-linear-gradient(#95c0ea, #2b4865);

		-webkit-border-radius-top-left: 48px;
		-webkit-border-radius-top-right: 48px;
		-webkit-border-radius-bottom-left: 60px;
		-webkit-border-radius-bottom-right: 60px;
}
.manhinh {
	position: absolute;
	top: 10px;

	width: 210px;
	height: 220px;

	border: 2px inset #fff;
	-moz-border-radius-topleft: 40px;
	border-top-left-radius: 40px;
	-moz-border-radius-topright: 40px;
	border-top-right-radius: 40px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	background: #292929;

	-webkit-border-radius-top-left: 40px;
	-webkit-border-radius-top-right: 40px;
	-webkit-border-radius-bottom-left: 20px;
	-webkit-border-radius-bottom-right: 20px;
}
.mh-wrap {
	position: relative;
}
.mh-wrap h2 {
	position: absolute;
}

.mh-wrap h2 {
	font-family: 'nokiabt';
	font-size: 12px;
	font-weight: normal;
	top: 0px;
	left: 75px;
	text-align: center;
	color: #f2f2f2;
}
h6, h1 {
	font-family: ubuntu;
}
h1 {
	font-size: 50px;
	margin-top: 15px;
}
.manchinh {
	position: absolute;
	left: 27px;
	top: 40px;
	width: 150px;
	height: 150px;
	border: 2px solid #53565b;
	background: #e4eff5;;
	word-wrap: break-word;
}
.manchinh h6{
	font-size: 14px;
	margin-top: 3px;
	padding: 10px;
}
.manchinh #reply-icon, .manchinh #send-icon {
	position: absolute;
	right: 2px;
	bottom: -32px;
	color: rgba(0,0,0,0.5);
}
.manchinh #del-icon {
	position: absolute;
	left: 2px;
	bottom: -32px;
	color: rgba(0,0,0,0.5);
}
.keypad {
	position: relative;
	padding-top: 250px;
}
.keypad a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}
.keypad a:active, .keypad a:focus {
	outline: none;
}
.button {
	display: block;
	padding: 2px;
	border-radius: 5px;
	background: #151517;
	background: -webkit-gradient(linear,left top,left bottom,from(#151517),to(#61616c));
	background: -moz-linear-gradient(#61616c, #151517);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3),inset 0 1px 0 #fff;
		 -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3),inset 0 1px 0 #fff;
					box-shadow: 0 1px 1px rgba(0, 0, 0, .3),inset 0 1px 0 #fff;
}
.btm-lft-btn {
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
}
.btm-rht-btn {
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
}
.small {
	padding-top: -10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.small:nth-child(1), .small:nth-child(2), .big, span, .callall {
	position: absolute;
}
.small:nth-child(1) {
	left: 8px;
}
.small:nth-child(2) {
	right: 15px;
}
.big {
	top: 249px;
	left: 71px;
	width: 64px;
	height: 66px;
	border-radius: 12px;
}
span {
	top: 256px;
	left: 77px;
	opacity: 0.5;
	width: 55px;
	height: 55px;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
	background: #151517;
}
.call {
	position: relative;
	top: 38px;
	left: 8px;

	width: 15px;
	height: 20px;

	text-indent: -99999px;
}
.end {
	position: relative;
	top: 7px;
	left: 145px;
	width: 15px;
	height: 20px;
	text-indent: -99999px;
}
.call-icon {
	position: absolute;
	top: 8px;
	left: 4px;

	clip: rect(0px,45px,8px,1px);

	width: 40px;
	height: 40px;

	border: 2px solid #00a160;
	border-radius: 10px;
}
.end-icon {
	position: absolute;
	top: 8px;
	left: 4px;
	clip: rect(0px,45px,8px,1px);
	width: 40px;
	height: 40px;
	border: 2px solid #d24653;
	border-radius: 10px;
}
.end-icon1 {
	position: absolute;
	top: 12px;
	left: 18px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #d24653;
}
.average {
	float: left;
	line-height: 28px;
	width: 50px;
	height: 28px;
	margin: 2px 5px 2px 10px;
	text-align: center;
}
.button-top-buffer {
	margin-top: 12px;
}
.mic {
	background: #d24653;
	width: 20px;
	height: 5px;
	left: 95px;
	position: absolute;
	bottom: -172px;

	background: #33373c;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
		 -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
					box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}
.load-splash {
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  min-height: 500px;
  position:fixed;
  z-index: 9999999;
}
.loading {
  color: #fff;
  font-weight: 900;
  font-size: 1em;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  text-shadow: 0px 0px 3px #000;
}

@font-face {
	font-family: nokiabt;
	src: url('fonts/UTM Nokia.ttf');
}
@font-face {
	font-family: ubuntu;
	src: url('fonts/Ubuntu-R.ttf');
}
